@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<body>
    <img src="~/img/snowshoeing.jpg" />
    <p>
        In IS 413 I would like to solidify my understanding of OOP
        and learn how to create more advanced programs using ASP.NET.
        I am also not very advanced in CSS and HTML scripting. I hope
        to gain more of a foundation for the basics of those two items.
    </p>

    <h3>Jobs I'm Most Interested in Pursuing:</h3>
    <ol>
        <li>development job with Adobe</li>
        <li>project management or dev job with a non-profit</li>
        <li>full-time wilderness explorer</li>
    </ol>

</body>